.bg-job-items-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job-details-bgcontainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.job-details-container {
  min-height: 500px;
  background-color: #202020;
  border: none;
  border-radius: 20px;

  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.job-company-title-rating-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.job-items-company-logo {
  height: 60px;
  width: 60px;
}
.job-item-title-rating-div {
  margin-left: 15px;
  display: flex;

  flex-direction: column;
}
.job-item-title {
  font-family: 'roboto';
  font-size: 22px;
  color: #ffffff;
  font-weight: 505;
  margin: 0;
}
.job-item-star-rating-div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.job-item-rating-text {
  font-family: 'roboto';
  font-size: 20px;
  color: #f1f5f9;
  margin: 0;
  margin-left: 5px;
}
.job-item-location-type-salary-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-item-location-div {
  display: flex;
  align-items: center;
}
.job-item-location {
  font-family: 'roboto';
  font-size: 16px;
  color: #f1f5f9;
  margin-left: 8px;
}
.job-item-package {
  font-family: 'roboto';
  font-size: 18px;
  color: #f1f5f9;
}
.job-item-description-visit-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-item-description-text {
  font-family: 'roboto';
  font-size: 30px;
  color: #f1f5f9;
  font-weight: 500;
}
.job-item-visit-div {
  display: flex;
  align-items: center;
}
.visit-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.visit-text {
  text-decoration: none;
  font-family: 'roboto';
  font-size: 22px;
  color: #4f46e5;
  font-weight: 500;
  margin-right: 5px;
}
.job-items-description {
  line-height: 35px;
  font-family: 'roboto';
  font-size: 20px;
  color: #f1f5f9;
}
.job-item-skills-text {
  font-family: 'roboto';
  font-size: 25px;
  color: #f1f5f9;
  font-weight: 500;
}
/*  Skills>>>>>>     */
.skill-ul-container {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.skill-li-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.skill-img {
  width: 40%;
}
.skill-name {
  font-size: 20px;
  font-family: 'roboto';
  color: #f1f5f9;
}
