/* ................... */

.type-employment-container {
  width: 100%;
}
.filters-header {
  font-family: 'roboto';
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 20px;
}
.checkbox-ul-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.checkbox-items-container {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.checkbox-input {
  height: 16px;
  width: 16px;
  accent-color: #6366f1;
  margin-right: 14px;
  cursor: pointer;
}
.label-text {
  font-family: 'roboto';
  font-size: 14px;
  color: #ffffff;
  margin-top: 14px;
  cursor: pointer;
}
